
html, body {
    height: 100%;
    margin: 0;
    color: #333;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    background: white;
}

#titlebar {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
}

#title {
    text-align: center;
    font: 600 36px sans-serif;
    padding: 10px;
    margin: 10px;
}

a#homebutton {
    height: 30px;
    width: 30px;
    border: 2px solid rgb(204 204 204);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    left: 0;
    display: block;
    text-align: center;
    line-height: 30px;
    font: 600 24px sans-serif;
    text-decoration-line: none;
    color: #333;
}

#titlebutton {
    height: 30px;
    width: 30px;
    border: 2px solid rgb(204 204 204);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    right: 0;
    display: block;
    text-align: center;
    line-height: 30px;
}

#titlebutton:hover,
#titlebutton:focus,
#homebutton:hover,
#homebutton:focus {
    background-color: #f4f4f4;
}

.mapbox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    aspect-ratio: 16/9;
    border: 2px solid black;
}

.scalebox {
    width: auto;
    height: auto;
    margin: 6px auto;
    padding: 2px;
    position: relative;
    font: 400 12px sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    width: 80%;
    margin: 40px auto;
    font: 400 9px sans-serif;
}

.about .copy {
    margin-top: 10px;
    margin-bottom: 10px
}

.about h1 {
    font: 600 10px sans-serif;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 4px
}

.about p {
    margin-top: 2px;
    margin-bottom: 1px
}

#scale {
    display: flex;
    height: 1.5em;
    width: 40%;
    border: 1px solid black;
    margin: 4px;
}

.colorbar {
    width: 0.5%;
    height: 100%;
}

.popup {
    max-height: 240px;
    overflow-y: scroll;
    padding-right: 32px;
    font: 400 11px sans-serif;
}

.popup-head {
    font: 600 14px sans-serif;
    margin-bottom: 10px;
}

.popup-di {
    font: 600 13px sans-serif;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.popup-row {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}

.popup-row div {
    max-width: 80%;
    font-size: 1em;
}
